@import "/assets/css/cubeportfolio.css";

.tag-image{
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform .3s;
    width: auto;
    height: auto;
    margin: 0%;
    display:inline-block;
  }
  .tag-image:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .tag-image img {
    width: 100%;
  }

/* jumbotron */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url("/assets/img/home-background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 300px; 
    width: auto; 
}

.jumbotron-heading{
    color: #111;
    font-size: 35px;
}

.author-profile-img {
    width: 150px;
    height: 150px;
}

.cbp-l-grid-blog-desc {
    font: 400 13px/18px "Open Sans", sans-serif;
    color: #9B9B9B;
    margin-top: 9px; 
    text-align: center;
}

.cbp-l-grid-blog-date-comments {
    text-align: center;
}