---
layout: default
---
<script>
    $(function() {
    $('.tags-conveyor').jConveyorTicker({
      anim_duration:   200,
      reverse_elm:     false,
      force_loop:      false,
      start_paused:    false,
    });
     $('#js-grid-awesome-work').cubeportfolio({
        filters: '#js-filters-awesome-work',
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'scaleSides',
        gapHorizontal: 30,
        gapVertical: 30,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1500,
            cols: 4,
        }, {
            width: 1100,
            cols: 4,
        }, {
            width: 480,
            cols: 4,
            options: {
                gapHorizontal: 15,
                gapVertical: 15,
            }
        }],
        caption: 'revealBottom',
        displayType: 'fadeIn',
        displayTypeSpeed: 400,
        caption: 'zoom',
        displayType: 'fadeIn',
        displayTypeSpeed: 400,
    });
  });
</script>

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include home_page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
    <div class="tags-conveyor" style="margin-top: 20px">
        <ul>
        {% for tag in site.tags %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
            <li class="tag-image">
                <a href="{{ site.baseurl }}/posts/#{{ tag_name }}">
                    <img src="/assets/img/tags/{{ tag_name }}.png" alt="Some textual description of image"/>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <br/><br/>
    <div id="js-filters-awesome-work" class="cbp-l-filters-work">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            ALL
        </div>
        {% for category in site.categories %} {% capture category_name %}{{ category | first }}{% endcapture %}
        <div data-filter=".{{ category_name }}" class="cbp-filter-item">
            {{ category_name }} <div class="cbp-filter-counter"></div>
        </div>
        {% endfor %}
    </div>
    <div id="js-grid-awesome-work" class="cbp cbp-l-grid-work">
        {% for post in site.posts %}    
            {% assign post_category = "" %}
            {% for category in post.categories %}
                {% assign tmp = post_category | append: category | append: " " %}
                {% assign post_category = tmp %}
            {% endfor %}
            <div class="cbp-item {{ post_category }}">
                <a href="{{ post.url }}" class="cbp-caption" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/img/profile.png" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">VIEW POST</div>
                </a>
                <a href="{{ post.url }}" class="cbp-l-grid-work-title" rel="nofollow">{{ post.title }}</a>
                <div class="cbp-l-grid-blog-desc">{{ post.summary }}</div>
                <div class="cbp-l-grid-blog-date-comments">
                    <div class="cbp-l-grid-blog-date"><i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ post.date | date: "%B %d %Y" }}</div>
                    <div class="cbp-l-grid-blog-split">|</div>
                    <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}" class="cbp-l-grid-blog-comments"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>